@font-face {
	font-family: "Baloo Bhai 2";
  font-weight: 400;
	src: url("../../dist/fonts/baloo-bhai-2-all-400-normal.woff") format("woff2");
}

@font-face {
	font-family: "Baloo Bhai 2";
  font-weight: 500;
	src: url("../../dist/fonts/baloo-bhai-2-all-500-normal.woff") format("woff2");
}

@font-face {
	font-family: "Baloo Bhai 2";
  font-weight: 700;
	src: url("../../dist/fonts/baloo-bhai-2-all-700-normal.woff") format("woff");
}

.body {
	font-family: "Baloo Bhai 2";
	background-color: #edf2f4;
	color: #2b2d42;
}

.icon {
	display: inline;
	padding-right: 10px;
	vertical-align: middle;
}
