.paper-article {
    padding: 1em 2em;
    /*line-height: 2.5em;*/
}

.article > h1 {
    font-size: 2.5em;
    text-align: center;
    color: #e9c46a;
    border-bottom: 1px solid #e9c46a;
    padding-bottom: 8px;
}