header > h1 {
  font-size: xx-large;
  display: inline;
}

header > div {
  margin-left: 1em;
  font-size: large;
  display: inline;
}

p {
  font-size: larger;
}

.article {
  background-color: #8d99ae;
  margin-bottom: 1em;
}

.articleGrid {
  flex-grow: 1;
}
