header > h1 {
  font-size: xx-large;
  display: inline;
}

header > div {
  margin-left: 1em;
  font-size: large;
  display: inline;
}

p {
  font-size: larger;
}

.article {
  margin-bottom: 1em;
}

.articleGrid {
  flex-grow: 1;
}

.cardContent {
  margin: 1em;
}

h1 > a {
  color: #f4a261;
  text-decoration: none;
}

.icon {
	display: inline;
	margin: 0 1em;
	vertical-align: middle;
}

.icon-header {
	display: inline;
}