.footer-links {
  padding-top: 1.5em;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  font-size: .9em;
}

.footer-links li {
  display: inline;
  padding-right: 3em;
  flex-direction: row;
}

.footer-links a {
  color: #e9c46a;
  text-decoration: none;
}
