ul {
  list-style-type: none;
  padding-left: 0px;
}
li {
    display: inline;
    padding-right: 3em;
}

ul > li > a {
  font-size: x-large;
  text-decoration: none;
  vertical-align: middle;
  margin-left: .5em;
}