.navbar-link {
	font-size: x-large;
	vertical-align: middle;
	margin-left: 0.5em;
	color: #e76f51;
	text-decoration: none;
}

.navbar {
	flex-direction: row;
	justify-content: center;
	margin: 3em 20%;
}

.navbar-item {
	text-align: center;

}